
	  .responsive {
		max-width: 80%;
		height: auto;
		}

	  .banner{
		  padding-top: 15px;
		  padding-left: 10px;
		  padding-bottom: 15px;
		  text-align: left;
		  font-size: 32px;
	  }
	  @media (max-width: 530px) {
 		 img#poza {
    		display: none;
  		}
		  
	}


.navbar-nav > li {
  
	padding-right:15px;

}

.navbar-custom .navbar-nav .nav-link {
    color: grey !important;
}


.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgb(125, 179, 197) !important;
}

.navbar-custom{
	background-color:rgb(233, 247, 251) !important;
}