*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 205, 153);
    font-family: Arial;
    font-size: 20px;
    padding:50px;
}
h1{
    font-size: 40px;
    padding-bottom: 100px;
    
}

h2{
    margin-bottom: 50px;
    text-align: center;
}
.first{
    color:red;
}

#your-name{
    background-color: chocolate;
    border: 5px solid #444;
    width: 400px;
    padding:50px;
    margin-top:50px;
}

p{
    margin-bottom: 30px;
}

input,button{
    padding:10px;
    font-size: 20px;
}
a{
    background-color: yellowgreen;
}

#course-image{
    width: 300px;
    height: 300px;
}

#your-name h2{
    color: olivedrab;
}